<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!-- WebSocket Server URL -->
		<add key="WebSocketUrl" value="ws://192.168.1.2:2050" />
		<add key="RegisterUrl" value="http://192.168.1.2:37597/BNet.Cafe.Server/" />
		<!-- Client Name - Used to identify each client computer (e.g., PC-01, PC-02, PC-03, etc.) -->
		<!-- This name will be displayed in the server UI so the operator knows which computer is being managed -->
		<!-- This name shall not have SPACEBAR-->
		<add key="ClientName" value="PC-01" />
	</appSettings>
</configuration>
<!-- reg query "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\cloudflared" /v ImagePath -->
<!-- curl -i -N -H "Connection: Upgrade" -H "Upgrade: websocket" -H "Sec-WebSocket-Version: 13" -H "Sec-WebSocket-Key: dGhlIHNhbXBsZSBub25jZQ==" https://workforce.bryanjaybodino.com/ws/agent -->