<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!-- https://console.cloud.google.com/auth/overview?project=bnet-cafe -->
		<!-- Google OAuth Settings -->
		<add key="Google_ClientId" value="580099746705-decfqo4ou49rhi5a3hgrov5rgdkeplr9.apps.googleusercontent.com" />
		<add key="Google_ClientSecret" value="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" />
		<add key="Google_RedirectUri" value="http://localhost:37597/BNet.Cafe.Server/Callback.aspx" />
		<add key="Google_AuthorizationEndpoint" value="https://accounts.google.com/o/oauth2/v2/auth" />
		<add key="Google_TokenEndpoint" value="https://oauth2.googleapis.com/token" />
		<add key="Google_UserInfoEndpoint" value="https://www.googleapis.com/oauth2/v2/userinfo" />
	</appSettings>

	<system.web>
		<identity impersonate="false" />
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<sessionState mode="InProc" timeout="30" />
		<authentication mode="None" />
	</system.web>

	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>